@charset "utf-8";

body {
    background-image: url("background_room.png");
    background-size: 100% 100%;
    opacity: 0.7;
    text-align: center;
}

.header {
    background-color: lightgrey;
    padding: 30px;
    text-align: center;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

input[type="text"]{
    border:white;
    width: 40em;
    height: 5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

input[type="button"]{
    border:white;
    width: 12em;
    height: 5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}