<!DOCTYPE>
{%load static%}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" charset="utf-8"/>
</head>
<body>
    <div class="header">
        <h1>在线聊天室 By SJZ</h1>
    </div>
    <br></br>
    <div class="text">
        <p>请输入聊天室名称：</p>
        <p1>仅支持英文字母和数字组合而成的聊天室名称</p1>
        <br></br>
        <input id="room-name-input" type="text" size="20"><br
        <br></br>
        <input id="room-name-submit" type="button" value="进入聊天室"><br>
        <br></br>
    </div>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  
                document.querySelector('#room-name-submit').click();
            }
        };
 
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>