<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'room.css' %}" charset="utf-8"/>
</head>
<body>
    <div class="header">
        <h1>在线聊天室 By SJZ</h1>
    </div>
    <br></br>
    <textarea id="chat-log" cols="100" rows="20" readonly="readonly"></textarea><br>
    <input id="chat-message-input" type="text" size="100">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
 
<script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
 
        const wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
        const chatSocket = new WebSocket(
             wss_protocol + window.location.host + '/ws/chat/'  + roomName + '/'
             );
 
        chatSocket.onopen = function(e) {
             document.querySelector('#chat-log').value += ('[公告]欢迎来到' + roomName + '聊天室。请遵守国家法律法规，文明发言!\n')
         }

         chatSocket.onmessage = function(e) {
             const data = JSON.parse(e.data);
             document.querySelector('#chat-log').value += (data.message + '\n');
         };

         chatSocket.onclose = function(e) {
             console.error('Chat socket closed unexpectedly');
         };
         
         document.querySelector('#chat-message-input').focus();
         document.querySelector('#chat-message-input').onkeyup = function(e) {
             if (e.keyCode === 13) {  
                 document.querySelector('#chat-message-submit').click();
             }
         };
。
         document.querySelector('#chat-message-submit').onclick = function(e) {
             const messageInputDom = document.querySelector('#chat-message-input');
             const message = messageInputDom.value;

             chatSocket.send(JSON.stringify({
                 'message': message
             }));
             messageInputDom.value = '';
         };
     </script>
</body>
</html>